.if-section {
  padding-top:30px;
  height: 385px;
  width: 675px;
  background-color: black;
}

.if-section img {
  width: 300px;
}

.middle-section img{
  margin-left: 500px;
  margin-top: -120px;
}

.bottom-section {
  margin-top: -250px;
  margin-bottom: 3px;
  margin-right: 10px;
}

.if-body-copy {
  color: white;
  position: relative;
  top: -175px;
  left: 215px;
}

.if-body-copy p{
  margin: 0;
}

.if-body-copy p:nth-child(2) {
  padding-left: 20px;
}

h1 {
  color: red;
  margin-left: 1em;
}

h2 {
  color: grey;
  margin-left: 150px;
}

h3 {
  padding-top: 20px;
  margin-left: 1em;
}

hr {
  margin-top: -30px;
  margin-left: 2em;
}

p {
  margin-top: -10px;
  margin-left: 1em;
}
